@charset "utf-8";
.gallery-modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(31,31,36,.85);
	display: none;
}
.gallery-modal-container:focus {
	outline: none; /*remove outline because the modal container it's not important that the modal itself is in focus*/
}
.modal-display{
	display: block;
}
.gallery-modal-button {
	color: white;
	background-color: #2E2E36; 
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	padding: 0 0 5px;
	z-index: 1;
	height: 36px;
	width: 36px;
    cursor: pointer;
	transition: opacity .2s;
    border: 2px solid white;
	-moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    -moz-box-shadow: 2px 2px 4px 2px #17171C;
    -webkit-box-shadow: 2px 2px 4px 2px #17171C;
    box-shadow: 2px 2px 4px 2px #17171C;
}
.gallery-modal-index {
	z-index: 1;
	position: fixed;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	font-size: 17px;
	color: white;
	border: 2px solid white;
	background-color: rgba(31,31,36,.7);
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
	-moz-box-shadow: 2px 2px 4px 2px #17171C;
	-webkit-box-shadow: 2px 2px 4px 2px #17171C;
	box-shadow: 2px 2px 4px 2px #17171C;
	transition: opacity .2s;
}
.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
}
.modal-prev-button {
	position: absolute;
	top: 50%;
	left: 10px;
}
.modal-next-button {
	position: absolute;
	top: 50%;
	right: 10px;
}
.modal-features-hide {
	opacity: 0;
}
.gallery-modal-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 80vw;
	max-height: 80vh;
	transition: all .2s;
	opacity: 0;
	background-color: #2E2E36;
	border: 3px solid #2E2E36;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 2px 2px 4px 2px #17171C;
	-webkit-box-shadow: 2px 2px 4px 2px #17171C;
	box-shadow: 2px 2px 4px 2px #17171C;
}
.image-fx.gallery-modal-image { 
	max-width: 90vw;
	max-height: 90vh;
	opacity: 1;
}
.invisible-button {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 2px;
	width: 2px;
	border: none;
	padding: 0;
	opacity: 0;
}
.invisible-button:focus {
	opacity: 1;
}
