@charset "utf-8";

.gallery-modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #1f1f24;
	opacity: 90%;
	display: none;
}
.gallery-modal-button {
	border: none;
	color: #97fae4;
	background-color: rgba(31,31,36,0); /*transparent background*/
	font-size: 50px;
	text-shadow: 1px 1px 4px white;
	z-index: 1;
	height: 60px;
	width: 45px;
}
.gallery-modal-button:hover {
	color: #e72d80;
	background-color: rgba(31,31,36,.75);
}
.modal-close-button {
	position: absolute;
	right: 0;
}
.modal-prev-button {
	position: absolute;
	top: 50%;
}
.modal-next-button {
	position: absolute;
	top: 50%;
	right: 0;
}
#gallery-modal-image {
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	max-width: 100vw;
	max-height: 100vh;
	/*width: auto;
	height: auto;*/
}

/*.gallery-modal-index {
	position: absolute;
	color: #34b89a;
	text-align: center;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 100px;
  	z-index: 1;
  	display: none;
}
#gallery-modal-image:hover + .gallery-modal-index, .gallery-modal-index:hover{
	display: inline;
}*/